* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#page_container {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
header {
  width: 100%;
  height: 50px;
  background: rgb(37, 41, 45);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  flex-shrink: 0;
}
.board {
  width: 100%;
  height: 80px;
  background: rgb(250, 251, 252);
  display: flex;
  align-items: center;
  padding: 0 30px;
  flex-shrink: 0;
}
.board-title {
  font-size: 1.5rem;
  color: #666;
  flex-shrink: 0;
}
nav {
  width: 100%;
  height: 50px;
  background: rgb(250, 251, 252);
  border: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

/* col */
.columns {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  overflow-y: hidden;
}
.col {
  height: 100%;
  width: 23%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.col .colbox {
  margin: 30px 5px 20px 5px;
  flex: 1;
  background: rgb(239, 241, 243);
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.col.expect .colbox {
  background: none;
  border: 1px dashed #999;
  flex: none;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* colhead */
.col-head {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-title {
  display: flex;
  align-items: center;
}
.col-head .col-num {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #bbb;
  color: #333;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 18px;
  margin-right: 10px;
}
.col-btn {
  display: flex;
  cursor: pointer;
}
.col-btn div {
  padding: 5px;
  color: #666;
}
.col-btn div:hover {
  color: #000;
}

/* card */
.cardlist {
  width: 100%;
  padding: 10px;
  flex: 1;
  overflow-y: scroll;
}
.card {
  width: 100%;
  background: #fff;
  min-height: 80px;
  border: 1px solid #ddd;
  list-style: none;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.card .icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  color: #666;
}
.card-wrapper {
  margin: 10px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-writer {
  font-size: 0.9rem;
  color: #888;
}
.card-writer span {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  align-self: flex-end;
}

.card-add-input {
  width: 100%;
  padding: 10px;
}
.card-add-input textarea {
  resize: vertical;
  width: 100%;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 10px;
}

.card-add-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-add-btn button {
  flex: 1;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:focus {
  outline: none !important;
}
.card-add-btn .create {
  margin-right: 4px;
  color: white;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
}
.card-add-btn .cancle {
  color: #000;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.card-add-btn button.disable {
  opacity: 0.6;
}
.card-add-btn button:hover {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
