<div class="col-sm-2">
  <div class="panel panel-default">
    <div class="panel-heading">메뉴</div>
    <div class="panel-body">
        <style>
            .panel-body ul{
                padding:0;
            }
            .panel-body ul li{
                list-style:none;
                padding:10px 0;     
            }
        </style>
      <ul>
        <li><a href="/admin/auth">유저 관리</a></li>
      </ul>
    </div>
  </div>
</div>
